body{
    margin: 0;
}

header{
    height: 30vh;
    width: 100vw;
    background-color: rgba(176, 165, 168, 0.39);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.boxB{
    width: 60vw;
    height: 70vh;
    background-color: pink;
}
.boxC{
    width: 40vw;
    height: 70vh;
    background-color: #d5ffc0;
}